# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment
.env

# Database
*.db

# Uploads (local photos)
backend/static/uploads/*
!backend/static/uploads/.gitkeep

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/pubspec.lock

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
